.character {
  width: 90%;
  margin: auto;
}

.character h2 {
  margin: 20px 0;
  font-size: 1.5rem;
  color: var(--title-color);
}

.character ul {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.character ul li {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.character ul li img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .character ul {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1000px) {
  .character ul {
    grid-template-columns: repeat(5, auto);
  }
  .character {
    max-width: 900px;
  }
}
