header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  border-radius: 0 0 10px 10px;
  background-color: var(--body-color);
  color: var(--title-color);
}

nav {
  max-width: 900px;
  margin: auto;
}

header > div {
  text-align: center;
  width: 100%;
}

.btnOpenMenu {
  background: none;
  position: absolute;
  bottom: 2vh;
  left: 4vw;
  color: var(--title-color);
}

nav > div {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  padding: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: all 0.5s;
}

.open-menu {
  opacity: 1;
  left: 0;
}

.close-menu {
  opacity: 0;
  left: -100%;
}

nav > div select {
  width: 100%;
  background-color: var(--body-color);
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
  color: var(--title-color);
  cursor: pointer;
}

nav > div > div {
  width: 100%;
}

nav > div form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav > div form input {
  width: 85%;
  height: 40px;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 10px;
  outline: none;
  background-color: var(--body-color);
  color: aliceblue;
}

.btnSearch {
  width: 15%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: var(--text-color);
  border-radius: 0 10px 10px 0;
}

nav > div section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

nav > div section h6 {
  width: 85%;
  padding: 10px;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-top: none;
  cursor: pointer;
}

@media (min-width: 700px) {
  .btnOpenMenu {
    left: 6vw;
  }
}

@media (min-width: 1000px) {
  header {
    height: 20vh;
    flex-direction: column;
  }
  .btnOpenMenu {
    display: none;
  }
  nav {
    width: 100%;
  }
  .close-menu {
    opacity: 1;
    left: 0;
  }
  nav > div {
    width: 100%;
    height: 10vh;
    position: static;
    background: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  nav > div select {
    width: 250px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
  }
  nav > div form {
    width: 250px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
  }

  nav > div > div {
    width: auto;
    position: relative;
  }
  nav > div section {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 40px;
    width: 80%;
    border-radius: 0 0 10px 10px;
  }
  nav > div section h6 {
    width: 90%;
    margin: 5px 10px;
  }
}
